/** Style sheet is organized by selector type and sorted by alphabetical order*/

:root {
  --primary-color: #0fcfa2;
  --secondary-color: #ff7a00;
  --primary-translucent: rgba(15, 207, 162, 0.75);
  --secondary-translucent: rgb(255, 122, 0.85);
  --disabled: grey;
  --menu-speed: 0.75s;
  --text: 1.25rem;
  --large: 2rem;
  --xl: 3rem;
}

/** Imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/** Universal reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/** Elements */
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
}

input[type='text'] {
  border: none;
  border-bottom: 2px solid black;
  padding: 3px;
}

li {
  list-style-type: none;
  padding: 3px;
}

/** Class selectors */
.brand {
  font-size: var(--xl);
}

.btn {
  width: 10rem;
  margin: 3px;
  padding: 3px;
}

.center {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  width: 100vw;
}

.disabled {
  color: var(--disabled);
}

.link {
  text-decoration: none;
  font-size: var(--text);
}

.list {
  justify-content: center;
  flex-direction: column;
}

.news-card {
  justify-content: left;
  height: 18rem;
  flex-direction: column;
}

.tag {
  background-color: lightgrey;
  padding: 3px;
  width: 100vw;
  text-align: center;
  font-size: var(--text);
}

/** Media queries */
@media only screen and (max-width: 600px) {
}
